Node-RED Flow/flows.json
[{"id":"3aa8929b.490b2e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18e26d40.c2e0c3","type":"ui_group","z":"","name":"Exercise","tab":"69b3bddb.dba9c4","order":1,"disp":true,"width":"7","collapse":true},{"id":"deac14f5.7c1bd8","type":"ui_group","z":"","name":"Status","tab":"69b3bddb.dba9c4","order":2,"disp":true,"width":"5","collapse":true},{"id":"92d62ca9.9d96b","type":"ui_group","z":"","name":"T & H","tab":"69b3bddb.dba9c4","order":3,"disp":true,"width":"7","collapse":true},{"id":"da18df2c.eb69f","type":"ui_group","z":"","name":"Heart Rate","tab":"69b3bddb.dba9c4","order":4,"disp":true,"width":"7","collapse":true},{"id":"5e098e2e.30aa6","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.1","port":"1883","tls":"5afd64db.339c6c","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69b3bddb.dba9c4","type":"ui_tab","z":"","name":"Travel Monitor","icon":"dashboard","disabled":false,"hidden":true},{"id":"5afd64db.339c6c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"XXXXXXXXXXXXXX-certificate.pem.crt","keyname":"XXXXXXXXXXXXXXXX-private.pem.key","caname":"AmazonRootCA1.pem.txt","servername":"YOURBROKER.iot.us-east-1.amazonaws.com","verifyservercert":true},{"id":"5f60b956.333db8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63dc17ac.23ee88","type":"mqtt-broker","z":"","name":"","broker":"YOURBROKER-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"d2cbe7f6.cb0608","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5b4b339.ba80a","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":true},{"id":"42b2fbca.7165b4","type":"ui_group","z":"","name":"T & H","tab":"c5b4b339.ba80a","order":1,"disp":true,"width":"7","collapse":true},{"id":"83b6da09.ddebf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9a55f92.3898808","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false},{"id":"83518013.012f8","type":"ui_group","z":"","name":"Enviroment","tab":"c5b4b339.ba80a","order":2,"disp":true,"width":"7","collapse":true},{"id":"f5bf42fe.a1f1","type":"ui_group","z":"","name":"Air","tab":"c5b4b339.ba80a","order":3,"disp":true,"width":"7","collapse":true},{"id":"1972e0e0.1ec00f","type":"ui_group","z":"","name":"Status","tab":"c5b4b339.ba80a","order":4,"disp":true,"width":"7","collapse":true},{"id":"4de99942.fab068","type":"mqtt-broker","z":"","name":"Cloud MQTT Broker","broker":"tailor.cloudmqtt.com","port":"18582","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f4479.dff02c","type":"ui_group","z":"","name":"Medicine Orders","tab":"bf3e5483.b50398","order":1,"disp":true,"width":"4","collapse":false},{"id":"96bb4f67.4446","type":"ui_group","z":"","name":"Medicine Orders 1","tab":"bf3e5483.b50398","order":2,"disp":true,"width":"4","collapse":false},{"id":"bf3e5483.b50398","type":"ui_tab","z":"","name":"Smart Medicine Control Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"d2cbe7f6.cb0608","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"XXXXXXXXXXXX-certificate.pem.crt","keyname":"XXXXXXXXXXX-private.pem.key","caname":"AmazonRootCA1.pem.txt","servername":"YOURBROKER-ats.iot.us-east-1.amazonaws.com","verifyservercert":true},{"id":"bee29fa6.6f519","type":"ui_group","z":"","name":"Test","tab":"a7f5f598.1181f8","order":1,"disp":true,"width":"24"},{"id":"a7f5f598.1181f8","type":"ui_tab","z":"","name":"Test2","icon":"dashboard"},{"id":"827fdd37.4ef76","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.12","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65465082.338f3","type":"ui_group","z":"","name":"Device","tab":"c5b4b339.ba80a","order":5,"disp":true,"width":"7","collapse":false},{"id":"1a8b29fc.4b2466","type":"ui_group","z":"","name":"Enviroment","tab":"c5b4b339.ba80a","order":6,"disp":true,"width":"7","collapse":false},{"id":"74e2b816.eb1a58","type":"ui_group","z":"","name":"Herz","tab":"c5b4b339.ba80a","order":7,"disp":true,"width":"7","collapse":false},{"id":"b5c7a9b7.a65738","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"TVOC\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["803d078c.91c1e8"]]},{"id":"f3f27265.ba148","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Hum\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":1120,"wires":[["fb5b1582.9416b8"]]},{"id":"803d078c.91c1e8","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"f5bf42fe.a1f1","order":7,"width":0,"height":0,"gtype":"donut","title":"Volatile organic compound","label":"ppm","format":"{{value}}","min":"0","max":"1000","colors":["#00ff08","#e6d200","#ff0000"],"seg1":"200","seg2":"600","x":720,"y":760,"wires":[]},{"id":"fb5b1582.9416b8","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"42b2fbca.7165b4","order":7,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#a4a4a4","#2f87b7","#008ae6"],"seg1":"10","seg2":"66","x":660,"y":1120,"wires":[]},{"id":"ade6c3d.8c2af4","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Temp\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}","outputs":1,"noerr":0,"x":470,"y":1080,"wires":[["64ef2f2b.6f6d7"]]},{"id":"64ef2f2b.6f6d7","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"42b2fbca.7165b4","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-44","max":"55","colors":["#6477ff","#ffff4a","#ff3535"],"seg1":"17","seg2":"32","x":670,"y":1080,"wires":[]},{"id":"f7c3b8e2.82c558","type":"function","z":"3aa8929b.490b2e","name":"","func":"temp = parseFloat(p[\"Temp\"])\nhum = parseFloat(p[\"Hum\"])\nmsg.payload=temp-(100-hum)/5\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":1160,"wires":[["92e0ad2c.565de"]]},{"id":"92e0ad2c.565de","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"42b2fbca.7165b4","order":7,"width":0,"height":0,"gtype":"gage","title":"Dew Point","label":"Celsius","format":"{{value}}","min":"-3","max":"50","colors":["#a4a4a4","#008ae6","#1f006f"],"seg1":"10","seg2":"20","x":670,"y":1160,"wires":[]},{"id":"7c5d3633.7fc558","type":"mqtt in","z":"3aa8929b.490b2e","name":"MQTT","topic":"/Device1/EnvironmentData","qos":"0","datatype":"auto","broker":"63dc17ac.23ee88","x":90,"y":920,"wires":[["b5c7a9b7.a65738","ade6c3d.8c2af4","f3f27265.ba148","be7d52a1.c300a","960e39e.a4122c8","b865802.a9cf48","9277d643.7bb208","cd3128ab.80fc98","3250ae9e.cd4892","f7c3b8e2.82c558"]]},{"id":"be7d52a1.c300a","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"eCO2\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":800,"wires":[["79cb6b78.5d1244"]]},{"id":"79cb6b78.5d1244","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"f5bf42fe.a1f1","order":7,"width":0,"height":0,"gtype":"donut","title":"eCO2","label":"ppm","format":"{{value}}","min":"0","max":"1000","colors":["#11ff00","#eeff00","#ff0000"],"seg1":"200","seg2":"600","x":650,"y":800,"wires":[]},{"id":"960e39e.a4122c8","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Press\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":840,"wires":[["23c14e6.2d0c9b2"]]},{"id":"23c14e6.2d0c9b2","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"f5bf42fe.a1f1","order":7,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":"101600","max":"106000","colors":["#ff0000","#00e628","#ff0000"],"seg1":"102600","seg2":"104500","x":660,"y":840,"wires":[]},{"id":"b865802.a9cf48","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Bat\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}","outputs":1,"noerr":0,"x":470,"y":880,"wires":[["b876c363.e09ff"]]},{"id":"b876c363.e09ff","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"65465082.338f3","order":7,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ff0000","#e6de00","#4dff00"],"seg1":"33","seg2":"66","x":660,"y":880,"wires":[]},{"id":"9277d643.7bb208","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"light\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":960,"wires":[["ae1a442.b666db8"]]},{"id":"ae1a442.b666db8","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"83518013.012f8","order":7,"width":0,"height":0,"gtype":"gage","title":"Light","label":"Lux","format":"{{value}}","min":"0","max":"10000","colors":["#000000","#878787","#ffffff"],"seg1":"3333","seg2":"6666","x":650,"y":960,"wires":[]},{"id":"cd3128ab.80fc98","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"UV\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}","outputs":1,"noerr":0,"x":470,"y":1000,"wires":[["b19e74ec.eb9938"]]},{"id":"b19e74ec.eb9938","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"83518013.012f8","order":7,"width":0,"height":0,"gtype":"gage","title":"UV","label":"W/m2","format":"{{value}}","min":"0","max":"10","colors":["#04ff00","#eeff00","#ff0000"],"seg1":"3.3","seg2":"6.6","x":650,"y":1000,"wires":[]},{"id":"3250ae9e.cd4892","type":"function","z":"3aa8929b.490b2e","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Sound\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}","outputs":1,"noerr":0,"x":470,"y":1040,"wires":[["4e4c3f9b.b6fbc"]]},{"id":"4e4c3f9b.b6fbc","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"83518013.012f8","order":7,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"dB","format":"{{value}}","min":"0","max":"145","colors":["#00ff08","#e6d200","#ff0000"],"seg1":"60","seg2":"100","x":650,"y":1040,"wires":[]},{"id":"3fdb8688.4e77aa","type":"mqtt in","z":"3aa8929b.490b2e","name":"MQTT","topic":"/Device1/HR","qos":"0","datatype":"auto","broker":"63dc17ac.23ee88","x":90,"y":1260,"wires":[["228c4264.65039e"]]},{"id":"2c940aba.da82b6","type":"ui_gauge","z":"3aa8929b.490b2e","name":"","group":"74e2b816.eb1a58","order":7,"width":0,"height":0,"gtype":"gage","title":"HR","label":"BPM","format":"{{value}}","min":"0","max":"240","colors":["#ff0000","#32e600","#ff0000"],"seg1":"60","seg2":"180","x":650,"y":1260,"wires":[]},{"id":"228c4264.65039e","type":"function","z":"3aa8929b.490b2e","name":"","func":"if (msg.payload === undefined) {\n   \n}\nelse if(msg.payload[1]==\"-\")\n{\n    \n}\nelse {\n   msg.payload=msg.payload[1]+msg.payload[2]\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":1260,"wires":[["2c940aba.da82b6"]]}]